* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    /* border: 5px solid red; */
}
header{
    margin-right: 140px;
    margin-left: 140px;
}
main{
    margin-right: 140px;
    margin-left: 140px;
    border: 3px  solid  green;
}
.background-element{
    margin-top: 50px;
    background-image: url(/resources/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 82%;
    height: 600px;
    border-radius: 16px;
    margin-bottom: 120px;
    margin-right: 140px;
    
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.content p{
    color: #fff;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}
.content strong{
    color: #fff;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
}
.discount-section{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 120px;
}
.discount-content{
    text-align: center;
}

.discount-content strong{
    
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    color: #F00;
}
.discount-content p{
    margin-top: 48px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    color: #F00;
}
.discount-content h4{
    margin-bottom: 48px;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    color: #070211;
}
.discount-image{
    height: 500px;
    width: 100%;
}
.party-background-element{
     /* margin-top: 50px; */
    background-image: url(/resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    border-radius: 16px;
    margin-bottom: 120px;
    display: flex;
    gap: 35px;
    flex-direction: row;
    align-items: center;
    padding: 135px 65px ;
}
.party-text h3{
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 24px;
    color: #FFF;
}
.party-text p{
    margin-bottom: 40px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.80);
}
.party-text button{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    background-color: #007bff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.party-text button:hover{
    background-color:#F00;
}
.hotel-section{
    margin-bottom: 120px;
    height: 482px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}
.hotel-content{
    align-items: center;

}
.hotel-text-clr{
    color: #F00;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
}
.hotel-text{
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    color: #070211;
}
.coming-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-bottom: 120px;
}
.coming-div1 strong{
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    color: #070211;

}
.coming-div2{
    padding: 48px;
    border-radius: 463px;
    border: 15px solid #F00;

}
.coming-div2 img{
    border-radius: 364.844px;
}
.coming-div3{
    margin-top: 40px;

}
.coming-div3 strong{
    color: #F00;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}


.holiday-section{
    margin-bottom: 120px;
    position: relative;
}
.holiday-div1{
    text-align: center;
}

.holiday-img-container{
  position: relative;
}

.holiday-img-container1 {
  position: relative;
  z-index: 2;
}
.rectangle2{
    margin-bottom: 215px;
    margin-left: 4px;
    
}
.group44{
    margin-top: 80px;
    margin-left: -630px;
    position: absolute;
}

.holiday-img-container2 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.inner-container2 img{
    position: absolute;
    width: 100%;
}
.portfolio-section{
    margin-bottom: 120px;
}
.portfolio-div1{

}
.portfolio-div2{
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.portfolio-div-img img{
    width: 100%;
}
.subscribe-section{
    padding: 80px 212px;
    margin-bottom: 120px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05); 
}
.subscribe-section-div{
    text-align: center;

}
#Subscribe{
    display: flex;
    flex-direction: row;
    align-items: center;
   position: relative;
   border-radius: 50px;
   width: 648px;
    height: 72px;
    background: #FFF;
    margin-left: 80px;
}
#Subscribe input{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.subscribe-btn-div{
    position:  absolute;
    margin-left: 450px;
}
.subscribe-btn-div button{
    font-weight: 600;
    font-size: 20px;
    color: #FFF;
    width: 210px; 
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    cursor: pointer;

}
.subscribe-btn-div button:hover{
    background-color: #007bff;
}
.footer{
    padding: 140px 120px;
    background: #070211;
    height: 609px;
}
.footer-div1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    color: #FFF;
}
.hr{
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
}